@use "../theme/colors-default" as theme;

.footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--color-teal-deep);
  color: var(--color-white);

  @media (min-width: 1280px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .container {
    display: grid;
    grid-gap: 42px;

    @media (min-width: 1024px) {
      grid-template-columns: 324px 1fr;
      grid-column-gap: 100px;
    }
  }

  a {
    transition-duration: .25s;

    &:hover {
      color: var(--color-pale-cyan);

      &::before {
        @media (min-width: 1024px) {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }

  &__contacts-wrapper {
    padding-top: 32px;
    border-top: 1px solid var(--color-pale-cyan);
  }

  &__logo {
    display: block;
    width: 300px;
    margin: 0 auto 32px
  }

  &__title {
    margin-bottom: 16px;
    font-size: 20px;
    color: var(--color-pale-cyan);
    letter-spacing: .2px;

    @media (min-width: 1024px) {
      font-size: 24px;
    }

    @media (min-width: 1280px) {
      font-size: 28px;
    }
  }

  .contacts {
    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      font-size: 18px;

      @media (min-width: 1280px) {
        font-size: 24px;
      }

      &.additional {
        max-height: 0;
        font-size: 16px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition:
                max-height 0.4s ease,
                opacity 0.3s ease,
                visibility 0.3s ease;

        @media (min-width: 1280px) {
          font-size: 18px;
        }

        &.is-open {
          max-height: 200px;
          opacity: 1;
          visibility: visible;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }

      &-item {
        &.address {
          display: flex;
          align-items: center;
          column-gap: 12px;
        }

        a {
          display: flex;
          align-items: center;
          column-gap: 12px;
        }
      }
    }
  }

  &__nav {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 42px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }

      @media (min-width: 1024px) {
        justify-content: flex-end;
        column-gap: 80px;
      }

      @media (min-width: 1280px) {
        column-gap: 126px;
      }

      .footer__navigation {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      @media (min-width: 1024px) {
        align-items: flex-start;
      }

      a {
        position: relative;
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;

        &::before {
          @media (min-width: 1024px) {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: var(--color-pale-cyan);
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        }

        &:hover {
          &::before {
            @media (min-width: 1024px) {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }

  .trust-badges__list {
    display: flex;
    column-gap: 32px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;

      &-img {
        height: 64px;
        width: auto;
      }
    }
  }

  &__show-contacts {
    padding: 0;
    font-weight: 500;
    color: var(--color-teal-blue);
    cursor: pointer;
    background-color: transparent;
    border-width: 0;
    transition-duration: .25s;

    &:hover {
      color: var(--color-pale-cyan);
    }
  }
}