@use "../theme/colors-default" as theme;

.how-it-works {
  position: relative;

  @media (max-width: 767px) {
    padding-bottom: 86px;
  }

  .container {
    display: grid;
    grid-row-gap: 42px;
    
    @media (min-width: 768px) {
      grid-template-columns: 325px 1fr;
      grid-column-gap: 24px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 445px 1fr;
    }
  }

  &__header {

    &-inner {
      @media (min-width: 768px) {
        position: sticky;
        top: 84px;
      }
    }

    h2 {
      max-width: 324px;
      margin-bottom: 12px;

      @media (min-width: 1280px) {
        max-width: none;
      }
    }

    .section-subtitle {
      font-size: 24px;
      color: var(--color-teal-blue);
    }
  }

  .btn-wrapper {
    @media (max-width: 767px) {
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
    }
    
    @media (min-width: 768px) {
      margin-top: 20px;
    }

    @media (min-width: 1280px) {
      margin-top: 32px;
    }

  }

  h3 {
    max-width: 305px;
    margin-bottom: 8px;
    color: var(--color-teal-deep);
    letter-spacing: .24px;
    line-height: 1.2;
    font-size: 24px;

    @media (min-width: 1280px) {
      max-width: 500px;
      margin-bottom: 20px;
      font-size: 32px;
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 24px;
    counter-reset: item-counter;

    @media (min-width: 1280px) {
      max-width: 696px;
      grid-row-gap: 42px;
      margin-left: auto;
    }

    &-item {
      counter-increment: item-counter;
      position: relative;
      padding-left: 38px;

      @media (min-width: 1280px) {
        padding-left: 52px;
      }

      &::before {
        content: counter(item-counter, decimal-leading-zero) "";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        color: var(--color-teal-deep);

        @media (min-width: 1280px) {
          top: 3px;
          font-size: 24px;
        }
      }

      p {
        &:not(:first-of-type) {
          margin-top: 8px;
        }
      }
    }
  }

}

