@use "../theme/colors-default" as theme;

.reviews {
  h2 {
    margin-bottom: 32px;

    @media (min-width: 1024px) {
      margin-bottom: 42px;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 20px;
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 8px;
    }

    @media (min-width: 1280px) {
      grid-column-gap: 20px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 24px;
      padding: 24px;
      border-radius: 16px;
      background: var(--color-white);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
      color: var(--color-black-new);

      @media (min-width: 1280px) {
        padding: 32px;
        row-gap: 32px;
      }

      &-info {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 12px;
        align-items: center;
      }

      .avatar {
        img {
          width: 100%;
          height: auto;
        }
      }

      .reviewer {
        display: flex;
        flex-direction: column;
        font: {
          size: 18px;
          weight: 700;
        }
        color: var(--color-teal-blue);

        @media (min-width: 1280px) {
          font-size: 24px;
        }
      }
    }
  }
}