@use "../theme/colors-default" as theme;

.solutions {
  h2 {
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      margin-bottom: 30px;
      text-align: center;
    }

    @media (min-width: 1280px) {
      margin-bottom: 42px;
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px;
      border-radius: 16px;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
      font-size: 20px;

      &.inner-list {
        background-color: var(--color-teal-blue);
        background-image: url("../images/solutions/first-item-bg-mobile.webp");
        color: var(--color-pale-cyan);
        letter-spacing: .2px;
        text-transform: uppercase;
        line-height: 1.2;
        font: {
          family: "Poppins", sans-serif;
          weight: 500;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
          grid-column: span 2;
        }
        
        @media (min-width: 1024px) {
          font-size: 24px;
        }

        @media (min-width: 1280px) {
          font-size: 28px;
        }
      }

      &.inner-img {
        align-items: center;
        background-color: var(--color-teal-deep);
        background-image: url("../images/solutions/img-item-bg-mobile.webp");
        background-position: center top -70px;
        color: var(--color-white);

        img {
          height: 240px;
          width: auto;
        }

        h3 {
          margin-top: 10px;
          color: var(--color-pale-cyan);
          font-size: 24px;

          @media (min-width: 1280px) {
            font-size: 32px;
          }
        }
      }
    }

    .solutions__list-inner {
      display: grid;
      grid-row-gap: 24px;

      &-item {
        position: relative;
        padding-left: 52px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 18px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19' viewBox='0 0 22 19' fill='none'%3E%3Cpath d='M19.3649 0.533855C19.8882 -0.103699 20.8114 -0.181225 21.4269 0.360697C22.0425 0.902617 22.1173 1.85877 21.5941 2.49632L9.16007 17.647C8.62862 18.2946 7.68694 18.3628 7.07363 17.7982L0.4909 11.7379C-0.11293 11.182 -0.16732 10.2244 0.369419 9.59896C0.906157 8.97357 1.83077 8.91724 2.4346 9.47314L7.89951 14.5043L19.3649 0.533855Z' fill='white'/%3E%3C/svg%3E");
          
          @media (min-width: 1280px) {
            top: 4px;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}