.thank-you {
  &__title {
    margin-bottom: 24px;
    font-size: 40px;

    @media (min-width: 1024px) {
      font-size: 60px;
    }
  }

  &__description {
    max-width: 878px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      margin-bottom: 44px;
    }
  }
}